<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <style type="text/css">
      .annotation {font-size:x-small; color:gray}
    </style>
  </head>
  <body>
    <h1><%=title %></h1>
    <div id="calculation">
      <form method="post" action="/" id="fileform" enctype="multipart/form-data">
        <table>
          <tr><th>Training data</th><td><input type="file" name="training"></input></td></tr>
          <tr><th>Analysis data</th><td><input type="file" name="analysis"></input></td></tr>
          <tr><th>Number of decision trees</th><td><input type="text" name="num_trees" value="20"></input></td></tr>
          <tr><th>Max depth of a tree</th><td><input type="text" name="depth" value="4"></input></td></tr>
          <tr><th>Iterations <sup>*</sup></th><td><input type="text" name="iteration" value="0"></input></td></tr>
          <tr><th>Column for ID</th><td><input type="text" name="idcolumn" value="ID"></input></td></tr>
          <tr><th>Column for output</th><td><input type="text" name="outcolumn" value="OUT"></input></td></tr>
        </table>
        <input type="submit" value="Submit"><br />
        <p class="annotation">* It is used to determine weights of properties.</p>
      </form>
    </div>
    <!--
    <div id="prediction">
      <form method="post" action="/prediction">
        <select id="models" name="model"></select>
        <table id="given">
        </table>
      </form>
    </div>
  -->
  </body>
</html>
