body {
  padding: 50px;
  font: 14px "Geneva", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.figure { float:left; margin:25px; }
table {border-collapse: collapse; }
td, th {
  white-space:nowrap;
  font-size:small;
  font-family: monospace;
  text-align:center;
}
th { background: #ccc; }
tr:nth-child(even) { background:#f0f0f0; }

.rawdata td {
  padding-left:10px;
  padding-right:10px;
}
.sstable td {
  font-size: large;
  padding:10px;
  font-family: Geneva serif;
}

input#model_name {font-size:large; float:left;}

/* dialog */
.no-close .ui-dialog-titlebar-close {display: none }
